<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAWLearn</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/discover.css">
    <link rel="icon" type="image/x-icon" href="../assets/elements/Logo (Regular).svg">
</head>
<body>

    <header>
        <nav>
            <img src="../assets/elements/Logo ALL.png" alt="PAWLearn Logo" width=15%>
            <ul>
                <li><a href="study.html">Study</a></li>
                <li><a href="discover.html">Discover</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </nav>
    </header>

    <div class="fence-strip-topbar fence">
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
    </div>

    <main class="discover-page-main">
        <div class="fact-container">
            <h2>Recent Fact:</h2>
            <div class="fact-box">
                <h3>Random Fact #<span id="fact-id">0</span></h3>
                <p id="fact-text">
                    Click the dog on the middle to unlock a fact.
                </p>
            </div>
        </div>

        <div class="clicker-container">
            <img src="../assets/elements/Logo (Regular).png" alt="A pug face to click" class="dog-clicker" id="doge">
            <h1 class="total-clicks">Total Clicks: <span id="no_of_click">0</span></h1>
            <p class="clicks-per-second">Click per second: <span id="click_per_second">0</span></p>
        </div>

        <div class="progress-container">
            <h2>Next Fact:</h2>
            <p class="clicks-to-next"><span id="click_goal">100</span> Clicks</p>
            <progress id="goal_percentage" class="progress" value="0" max="100"></progress>
        </div>
    </main>

    <div class="fence-strip-downbar fence">
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
        <div class="fence-post"></div><div class="fence-post"></div><div class="fence-post"></div>
    </div>

    <footer>
        <p>Made by rasyidrizky</p>
    </footer>

    <script src="../app/discover.js" type="module"></script>
    <script src="../service/auth.js" type="module"></script> 
</body>
</html>