<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAWLearn</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" type="image/x-icon" href="../assets/elements/Logo (Regular).svg">

</head>
<body>

    <div class="background-container">
        <img src="../assets/elements/clock.png" alt="Spinning Clock" class="spinning-clock">
    </div>

    <div class="login-wrapper">
        <div class="login-form-container">
            <img src="../assets/elements/Logo 2.png" alt="PAWLearn Logo" width=20%>
            <h1>Welcome Back!</h1>

            <form action="">
                <div class="input-group">
                    <i class="material-icons" style="margin-right: 10px;">&#xe0be;</i>
                    <input type="email" placeholder="Insert your email">
                </div>
                <div class="input-group">
                    <i class="material-icons" style="margin-right: 10px;">&#xe897;</i>
                    <input type="password" placeholder="Insert your password">
                </div>

                <p class="or-divider"><span>or</span></p>

                <button type="button" class="google-login" id="google-button">
                    <i class="fa fa-google" style="margin-right: 10px;"></i>
                    Continue with Google
                </button>

                <p class="signup-link">Don't have an account? <a href="register.html">Sign Up</a></p>

                <button type="button" class="login-button" id="log-in-button">Log In</button>
            </form>
        </div>
    </div>

    <script src="../services/login.js" type="module"></script>
</body>
</html>