<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAWLearn</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/register.css"> 
    <link rel="icon" type="image/x-icon" href="../assets/elements/Logo (Regular).svg">
</head>
<body>

    <div class="background-container">
        <img src="../assets/elements/clock.png" alt="Spinning Clock" class="spinning-clock">
    </div>

    <div class="login-wrapper">
        <div class="login-form-container">
            <img src="../assets/elements/Logo 2.png" alt="PAWLearn Logo" width=20%>
            <h1>Welcome!</h1> <form>
                <div class="input-group">
                    <img src="../assets/elements/mail-icon.svg" alt="Email Icon" class="input-icon">
                    <input type="email" placeholder="Insert your email">
                </div>
                
                <div class="input-group">
                    <img src="../assets/elements/user-icon.svg" alt="Username Icon" class="input-icon">
                    <input type="text" placeholder="Insert your username">
                </div>

                <div class="input-group">
                    <img src="../assets/elements/lock-icon.svg" alt="Password Icon" class="input-icon">
                    <input type="password" placeholder="Insert your password">
                </div>

                <div class="input-group">
                    <img src="../assets/elements/password-confirm-icon.svg" alt="Confirm Password Icon" class="input-icon">
                    <input type="password" placeholder="Insert your password again">
                </div>

                <p class="or-divider"><span>or</span></p>

                <button type="button" class="google-login">
                    <img src="../assets/elements/google-icon.svg" alt="Google Logo">
                    Continue with Google
                </button>

                <p class="signup-link">Already have an account? <a href="login.html">Log In</a></p>

                <button type="submit" class="login-button">Sign up</button>
            </form>
        </div>
    </div>

</body>
</html>